/* You can add global styles to this file, and also import other style files */

@import "./../node_modules/bootstrap/dist/css/bootstrap.css";

footer {
    position:fixed;
    bottom:0;
   background-color: dimgray;
    text-align:center;
    color:white;
    width: 100%;
}